.container{
    margin-top: 40px;
}
.quoteBody{
    font-size: 33px !important;
    color: red !important;
    font-family: 'Permanent Marker', cursive;
}
.quoteAuthor{
    font-size: 28px !important;
}

.btn{
    border-radius: 0;
}
.btn:focus{
    outline: none;
}
